# Environment variable overrides for local development
DEV_MODE=False
DEBUG=False
#ENABLE_SQL_LOGGING=False
#DATABASE_URL = "sqlite+aiosqlite:///./app/dbdata/test.db"
LOGFILE="maker-hub.log"
# Connections
# HOST=127.0.0.1
# PORT=8000
# GUNICORN_WORKERS=1
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0
