# Environment variable overrides for local development
DEV_MODE=True
DEBUG=True
# Logging
ENABLE_SQL_LOGGING=False
LOGFILE="maker-hub.log"
# Connections
HOST=127.0.0.1
PORT=8000
GUNICORN_WORKERS=1
LOG_LEVEL=debug
SECRET_KEY=not-so-secret
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0
