[tool.poetry]
name = "maker-hub"
version = "2021.0.0-dev3"
description = "Makers Hub for Inventory and Projects"
authors = ["Stephen Eaton <seaton@strobotics.com.au>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.64.0"
pydantic = { version = "^1.6", extras = ["email","env"] }
pyjwt = "^2.1"
uvicorn = "^0.14.0"
SQLAlchemy = "^1.4.18"
aiofiles = "^0.7.0"
python-multipart = "^0.0.5"
progressbar2 = "^3.53.1"
passlib = { version = "^1.7", extras = ["bcrypt"] }
python-dateutil = "^2.8.1"
aiosqlite = "^0.17.0"
fastapi-chameleon = {git = "https://github.com/mikeckennedy/fastapi-chameleon", rev = "main"}
starlette = "0.13.6"
alembic = "^1.6"
python-slugify = "^5.0"
Unidecode = "^1.1"
loguru = "^0.5.1"
python-dotenv = "^0.17.1"
gunicorn = "^20.1.0"
uvloop = "^0.15.2"
httptools = "^0.2.0"
nanoid = "^2.0.0"
async-exit-stack = "^1.0.1"
async_generator = "^1.10"
pytest-mock = "^3.6.1"
toolz = "^0.11.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
pytest-cov = "^2.12"
pytest-asyncio = "^0.15.1"
pytest-env = "^0.6.2"
black = "^21.6b0"
docker = "^5.0.0"
mypy = "^0.902"
mkdocs-material = "^7.1.7"
mkdocs-macros-plugin = "^0.5.5"
mkdocs-mermaid2-plugin = "^0.5.1"
Faker = "^8.2.1"
mdx-truly-sane-lists = "^1.2"
isort = "^5.8.0"
httpx = "^0.18.1"
factory-boy = "^3.2.0"
faker-optional = "^0.1.0"
pytest-factoryboy = "^2.1.0"
pytest-clarity = "^0.3.0-alpha.0"
pytest-sugar = "^0.9.4"
hypothesis = "^6.13.14"
flake8 = "^3.9.2"
pydocstyle = "^6.1.1"
toml = "^0.10.2"

[tool.isort]
profile = "black"
src_paths = ["app", "tests"]

[tool.pytest.ini_options]
testpaths = "tests"
filterwarnings = "error"
addopts = '''
  --strict-markers
  --tb=short
  --cov=app
  --cov=tests
  --cov-branch
  --cov-report=term-missing
  --cov-report=html
  --cov-report=xml
  --no-cov-on-fail
  --cov-fail-under=30
'''
env = ["SECRET_KEY=secret"]
markers = [
    'slow: slow running test'
]
python_files = 'test_*.py'

[report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if __name__ == .__main__.:",
    "nocov",
    "if TYPE_CHECKING:",
]

[tool.coverage.run]
# Activating branch coverage is super important
branch = true
omit = [
  # add your files to omit here
    ]

[tool.pydocstyle]
ignore = ["D104","D406"]
convention="pep257"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
