[tool.poetry]
name = "maker-hub"
version = "2021.0.0-dev1"
description = "Makers Hub for Inventory and Projects"
authors = ["Stephen Eaton <seaton@strobotics.com.au>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.68.1"
pydantic = { version = "^1.6", extras = ["email"] }
pyjwt = "^2.1"
uvicorn = "^0.15.0"
SQLAlchemy = "^1.4.23"
aiofiles = "^0.7.0"
python-multipart = "^0.0.5"
progressbar2 = "^3.53.2"
passlib = { version = "^1.7", extras = ["bcrypt"] }
python-dateutil = "^2.8.2"
aiosqlite = "^0.17.0"
fastapi-chameleon = {git = "https://github.com/mikeckennedy/fastapi-chameleon", rev = "main"}
alembic = "^1.7"
python-slugify = "^5.0"
Unidecode = "^1.3"
loguru = "^0.5.1"
python-dotenv = "^0.19.0"
gunicorn = "^20.1.0"
uvloop = "^0.16.0"
httptools = "^0.3.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^2.12"
pytest-asyncio = "^0.15.1"
pytest-env = "^0.6.2"
black = "^21.9b0"
docker = "^5.0.2"
mypy = "^0.910"
mkdocs-material = "^7.2.6"
mkdocs-macros-plugin = "^0.6.0"
mkdocs-mermaid2-plugin = "^0.5.2"

[tool.isort]
profile = "black"
src_paths = ["app", "tests"]
combine_as_imports = true

[tool.pytest.ini_options]
testpaths = "tests"
filterwarnings = "error"
addopts = '''
  --strict-markers
  --tb=short
  --cov=app
  --cov=tests
  --cov-branch
  --cov-report=term-missing
  --cov-report=html
  --cov-report=xml
  --no-cov-on-fail
  --cov-fail-under=100
'''
env = ["SECRET_KEY=secret"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
