name: CI - Changelog

on:
  push:
    branches: [master]

jobs:
  changelog_prerelease:
    name: Update Changelog For Prerelease
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: master
      - name: Update Changelog
        uses: heinrichreimer/github-changelog-generator-action@v2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issues: false
          issuesWoLabels: false
          pullRequests: false
          prWoLabels: false
          unreleased: true
          addSections: '{"security": {"prefix": "**Security Issues Fixed:**", "labels":["pr: security"]},"bugs": {"prefix": "**Bugs Fixed:**", "labels":["type: bug"]}, "features": {"prefix":"**Features Added:**", "labels":["type: enhancement"]},  "documentation":{"prefix":"**Documentation Changes:**","labels":["type: documentation"]}, "dependencies": {"prefix": "**Dependencies Updated:**", "labels":["pr: dependencies"]}}'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Changelog for PR
          file_pattern: CHANGELOG.md
